.wrapper {
    background: #f0e6ae;
    min-height: 100%;
}

.title {
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid darkgray;
    display: block;
    padding: 20px 0;
}

.accordion {
    width: 600px;
    position: relative;
    margin: 0 auto;
}

.input-label {
    display: none;
}

.accordion-body {
    height:  0;
    overflow: hidden;
    transition: 2s;
    display: flex;
    justify-content: center;
}

.input-label:checked + .title + .accordion-body,
.input-label:hover + .title + .accordion-body {
    height: 400px;
    padding:  10px 0;
}

.accordion:hover > .title::after {
    display: inline-block;
    position: absolute;
    right: 0;
    content: '✚';
}

.accordion:hover > .input-label:checked + .title::after,
.input-label:hover + .title:hover::after {
    display: inline-block;
    position: absolute;
    right: 0;
    content: '✖';
    font-weight: bold;
}
