.wrapper {
    background: #f0e6ae;
}

.accordion {
    width: 500px;
    position: relative;
}

.input-label {
    display: none;
}

.accordion-body {
    height:  0;
    overflow: hidden;
    transition: 2s;
}

.input-label:checked + .title + .accordion-body,
.input-label:hover + .title + .accordion-body {
    height: 400px;
    padding:  10px 0;
}

.accordion:hover > .title::after {
    display: inline-block;
    position: absolute;
    right: 0;
    content: '✚';
}

.accordion:hover > .input-label:checked + .title::after,
.input-label:hover + .title:hover::after {
    display: inline-block;
    position: absolute;
    right: 0;
    content: '✖';
    font-weight: bold;
}
